{{--  <footer class="text-gray-600 body-font md:absolute sm:relative bottom-0 w-full">
    <div class="px-5 py-8 flex items-center sm:flex-row flex-col justify-end">
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 UJobs —
        <a href="https://www.instagram.com/universidadefederalrural/" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@ufrrj</a>
      </p>
    </div>
  </footer>  --}}