@layout('layouts/main')

@section('body')

<body class="fundo h-screen">
    @!component('components/nav')
</body>

<p>{{  empresa.id }}</p>
<p>{{  empresa.name }}</p>
<p>{{  empresa.cnpj }}</p>
<p>{{  user.email }}</p>
<p>{{  user.tipo }}</p>


@end