<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UJobs</title>
  <link rel="shortcut icon" href="/images/logo.png">
  <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
    @!section('body')
</html>