@import "./tailwind.css";

.fundo {
  background-color: #F2F2F2;
}

.fundo2 {
  background-color: #5e7ef9;
}

.fonte {
  font-family: 'Poppins';
  color: #F2F2F2;
  font: bold;
}

.fonte2 {
  font-family: 'Poppins';
  color: #5e7ef9;
  font: bold;
}

.bg-gray-800{
background-color: rgb(31 41 55);
}

/* The dropdown container */
.dropdown {
  float: center;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  border-radius: 9999px;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(107 114 128);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

