<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teste Cadastro</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

</head>
<body class="fundo h-screen">
  <div class="w-full flex flex-wrap">

    @!component('component/log')

    <div class=" w-full h-screen md:w-2/3 flex flex-col">
      <p class="fonte2 text-center mt-64 text-4xl">Como você se identifica ?</p>
      <input type="submit" value="Estudante" class="fundo2 fonte text-xl hover:bg-gray-400 rounded-2xl cursor-pointer mt-10 p-4 md:mx-32 mx-auto px-10">
      <input type="submit" value="Corporativo" class="fundo2 fonte text-xl hover:bg-gray-400 rounded-2xl cursor-pointer mt-10 p-4 md:mx-32 mx-auto px-8">
    </div>
    
  </div>

  @!component('component/footer')

</body>
</html>